/*Text*/

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 14;
}

.sections {
    background-color:rgb(255, 145, 33); 
    width: 50%;
    text-align: justify;
    display: block;
    text-align: justify;
    margin: auto;
    border-radius: 5px;
}

/*Heading*/
h1 {
    margin: auto;
}

h3 {
    margin: auto;
}

/*Unvisited Link*/
a:link {
    color:black;
    margin: auto;
    font-family: 'Source Code Pro', monospace;
}

/*Visted Link*/
a:visited {
    color:rgb(255, 145, 33);
    margin: auto;
    display: block; 
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 5%;
}

p.sections {
    color:black;
    display: block;
}

/*Screenshot*/
img {
    width:50%;
    border:rgb(255, 145, 33);
    border-style:ridge;
}

div {
    text-align: center;
}

